<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Comandos do ejs -->
    <!-- Usar variável -->
    <%= variavel %>

    <!-- Usar condição -->
    <% if(dwad == 2) { %>
        dwadawd
    <% } else { %>
        dwadwad
    <% } %>

    <!-- Usar repetição -->
    <% dwadasd.forEach((wdwad) => { %>

    <% }) %>
</body>
</html>